@import '../../index.scss';

.sample-container{
    grid-area: sample;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 150px;

    img{
       width: clamp(200px,20vw,400px);
       transform: rotate(-8.5deg);
    }
}