@import '../../index.scss';

.description-container{
    grid-area: description;
    height: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 700;
    }
    p{
        font-size: 1.5rem;
        color: $paragrafo;
    }
}